body{
    background-color: rgb(78, 79, 235);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: black;
    margin: 0px;
    margin-right: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 40px;
}
header nav ul li{
    margin: 10px;
    border-radius: 100px;
    background-color: rgb(61, 61, 61);
}
header nav ul li a{
    margin: 10px;
    padding: 0px;
    display: block;
}
h1.logo a{
    background-image: url("logo.png");
    background-size: 90px;
    background-repeat: no-repeat;
    display: block;
    margin-right: 2%;
    text-indent: 120px;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    height: 65px;
    width: 100px;
}
nav{
    margin-left: auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}
nav ul a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}
li{
    margin-right: 2%;
    display: inline-block;
}
form[name="searching"] {
    margin-left: 30%;
    margin-right: auto;
}
.searchcontainer{
    display: flex;
    align-items: center;
}
.search{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.search-input{
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 100%;
    min-width: 400px;
    height: 50px;
}
::placeholder{
    color: white;
}
.main.section{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.side{
    /*background-color: rgb(6, 143, 255);*/
    background-color: black;
    margin: 5px;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.side.right{
    order: 1;
}
.side.right nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.side.right nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.side.right nav ul li{
    margin: 10px;
    background-color: rgb(61, 61, 61);
}
.side.right nav ul li a{
    margin: 10px;
    padding: 0px;
    display: block;
}
.main.content{
    /*background-color: rgb(6, 143, 255);*/
    background-color: black;
    margin: 5px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    height: 40px;
    margin: 0;
    margin-bottom: 0px;
    width: 100%;
}
.landing.section{
    background-color: rgb(61, 61, 61);
    height: 800px;
    width: 90%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    padding: 20px;
}
.name.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name.logo .site.name{
    font-size: 70px;
    height: 100px;
    margin-right: auto;
    margin-left: 25%;
}
.name.logo .logo{
    background-image: url("logo.png");
    background-size: 180px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 10%;
    height: 130px;
    width: 200px;
}
.about.us{
    margin-top: 100px;
    border:1px solid black;
    padding: 10px;
}
.about.us h1.header{
    width: auto;
    text-align: left;
}
.about.us h1.text{
    width: 95%;
    max-width: 1150px;
    margin-right: 2% auto;
    text-align: left;
}
@media (max-width: 1300px){
    header{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    form[name="searching"] {
        margin: auto;
    }
    header nav{
        margin: 10px auto;
    }
    .searchcontainer{
        margin: 10px auto;
        width: 80%;
    }
    h1.logo {
        margin: 10px auto;
    }
    .name.logo .site.name{
        margin: auto;
    }
    .name.logo{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .name.logo .logo{
        margin: auto;
    }
}
@media (max-width: 915px){
    .side.right{
        display: none;
    }
}
@media (max-width: 730px){
    .search-input{
        min-width: 300px;
    }
}