body{
    background-color: rgb(78, 79, 235);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.main-section{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.main-content{
    /*background-color: rgb(6, 143, 255);*/
    flex-direction: column;
    background-color: black;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.side{
    /*background-color: rgb(6, 143, 255);*/
    background-color: black;
    margin: 5px;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.side.right{
    order: 1;
}
.side.right nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.side.right nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.side.right nav ul li{
    margin: 25px;
    /*background-color: rgb(61, 61, 61);*/
}
.side.right nav ul li a{
    margin: 10px;
    padding: 0px;
    display: block;
}

footer{
    background-color: black;
    height: 40px;
    margin: 0;
    margin-bottom: 0px;
    width: 100%;
}
@media (max-width: 1365px){
    h1.logo {
        margin: 10px auto;
    }
    .name.logo .site.name{
        margin: auto;
    }
    .name.logo{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .name.logo .logo{
        margin: auto;
    }
}
@media (max-width: 915px){
    .side.right{
        display: none;
    }
}

#content_container {
    width: 30%;
    height: 50%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: rgb(27, 27, 31);
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #068FFF, #4E4FEB, #8338EC) 20;
    background: rgb(27, 27, 31);
}

#form_header {
    display: inline-block;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;


    background: -webkit-linear-gradient(25deg, #068FFF, #4E4FEB, #8338EC);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

section.main.section input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 12px;

    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #EEEEEE, #068FFF, #4E4FEB, #8338EC) 1;
}

section.main-section ::placeholder{
    color: #000;
}

#button_container {
    width: 100%;
    height: 10%;

    background-image: linear-gradient(80deg, #EEEEEE, #068FFF, #4E4FEB, #8338EC);
    color: #fff;

    float: left;

    margin-top: 5px;
    margin-bottom: 10px;
}

#button_container button {
    width: 100%;
    height: 100%;
    float: left;

    background: transparent;
    color: inherit;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button_container_alt {
    width: 100%;
    height: 10%;

    background-image: linear-gradient(80deg, #EEEEEE, #068FFF, #4E4FEB, #8338EC);
    color: #fff;

    float: left;

    margin-top: 5px;
    margin-bottom: 10px;
}

#button_container_alt button {
    width: 50%;
    height: 100%;
    float: left;

    background: transparent;
    color: inherit;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-userinfo-section{
    display: flex;
    flex-direction: row;
}

.profile-pfpedit-section{
    display: flex;
    flex-direction: column;
}

.profile-recentfaves-container {
    display: flex;
    flex-direction: row;
}
.fave-art-img {
    width: 200px;
}

.bio-section {
    width: 250px;
    height: 100px;
    border: 2px solid #000;
    background-color: rgb(78, 79, 235);
    padding: 15px;
    color: black;
}
    
  
    
